.container {
  display: flex;
  border-top: 1px solid white;
  /* flex-wrap: wrap; Allow wrap for smaller screens */
}

.leftPanel {
  width: 70%;
  display: flex;
  padding: 4rem;
  background-color: #33688a;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.navItem {
  font-size: 1.6rem;
  cursor: pointer;
  color: #d4d4d4;
}

.navItem span {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.infoSection {
  font-size: 1.1rem;
}

.infoSection h2 {
  margin-bottom: 1rem;
  font-weight: normal;
  color: white;
}

.infoSection ul {
  list-style: none;
  line-height: 2;
  font-size: 0.95rem;
  color: rgb(196, 195, 195);
}

.rightPanel {
  width: 30%;
  background-color: #143758;
  padding: 3rem 2rem;
  text-align: center;
}

.rightPanel img {
  width: 80px;
  margin-bottom: 1rem;
}

.rightPanel h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: #ffffff;
  line-height: 0.8rem;
}

.headings {
  margin-bottom: 30px;
}

.rightPanel p {
  font-size: 0.95rem;
  color: #c5c5c5;
  margin: 0.2rem 0;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.rightPanel a {
  color: #cbdfea;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}

.socialIcons {
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}

.socialIcons svg {
  font-size: 1rem;
  color: #58595a;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(199, 196, 196);
  padding: 5px;
}

.socialIcons > svg:hover {
  background-color: white;
}

.contacts {
  line-height: 0.4rem;
  margin: 40px 0px;
}

.contacts > p::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #c5c5c5;
  transition: width 0.3s ease;
  margin-top: 23px;
}

.contacts > p:hover {
  color: white;
}

.contacts > p:hover::after {
  width: 100%;
}

/* -------------------------------
   Responsive Media Queries
---------------------------------*/

@media screen and (max-width: 1024px) {
  .leftPanel {
    width: 100%;
    padding: 2rem;
  }

  .rightPanel {
    width: 100%;
    padding: 2rem;
  }

  .container {
    flex-direction: column;
  }

  .navItem {
    font-size: 1.4rem;
  }

  .infoSection h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .leftPanel {
    flex-direction: column;
    align-items: center;
  }

  .navSection {
    align-items: center;
     
  }
   

  .rightPanel h3 {
    font-size: 1.4rem;
  }

  .rightPanel p {
    font-size: 0.85rem;
  }

  .infoSection ul {
    text-align: center;
    font-size: 0.85rem;
  }

  .socialIcons {
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  .rightPanel img {
    width: 60px;
  }

  .contacts {
    text-align: center;
  }

  .contacts > p {
    font-size: 0.9rem;
  }
}
